body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board{
    background-color: lightgray;
    border-bottom: 3px solid black;
}

#btn{
    align-self: center;
    
}